* {
    background-color:silver;
    background-image: url(./pexels-colour-creation-112811.jpg);

}
.red {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
}